.searching {
    color:red;
    background-color:#607D8B;
    border-color:red;
}

#searchbox {
    background-color:#CFD8DC;
    color:#CFD8DC;
    border-color:#FFC107;
}

#searchbutton {
    color:#FFC107;
    background-color:#FFC107;
}