.searching {
    color:red;
    background-color:#607D8B;
    border-color:red;
 }
 
 #searchBox {
    background-color:#CFD8DC;
    color:#FFFFFF;
    border-color:#FFC107;
 }
 
 #searchButton {
    color:#FFFFFF;
    background-color:#FFC107;
    border-color:#FFFFFF;
 }
 
 /* .movieInfo {
    color:#607D8B;
 } */
 
 /* NOTHING else in container, floating element in space and giving it precedence? */
 

 
 body {
    background-color:#212121;
    color:#FFFFFF;
 }
 
 h3 {
    color:#FFC107;
 }
 
 h2 {
    color:#FFC107;
 }
/*Added 7/16 to get colors working for dynamic content*/
 #titleScore {
     color:#FFC107;
 }

 #rating {
    color:#FFFFFF;
 }

 #questionMP {
    color:#FFC107;
    text-align:center;
 }

#threatMP {
     text-align:center;
 }
 #explainMP{
    text-align:center;
}


.posterHouse img{
    height:70%;
    width:70%;

}

/*Dan's Rating Slider Styling*/
